body > div { display: none; }
body[data-screen="start"]    #start,
body[data-screen="question"] #question,
body[data-screen="answer"]   #answer,
body[data-screen="final"]    #final { display: block; }

#question .players { padding: 0; }
#question .players .answered { background : blue; color: white; }

#answer .answers { padding: 0; color: white; }
#answer .answers .correct { background: green; }
#answer .answers .incorrect { background: red; }
.timer {
    text-align: center;
    font-size: 10em;
}
.badges, .players {
    display: flex;
    flex-flow: row wrap;
}
.badges > *, .players > * {
    padding: 20px;
    margin: 20px;
    list-style: none;
    flex: 1 1 auto;
    text-align: center;
    font-size: 2em;
}
