body > div { display: none; }
body[data-screen="start"]    #start,
body[data-screen="question"] #question,
body[data-screen="answer"]   #answer,
body[data-screen="final"]    #final { display: block; }

#start #start-game {
    padding: 1em;
    font-size: 1.2em;
    margin: 2%;
    width: 96%;
    box-sizing: border-box;
}

#question .text { font-size: 5em; }
#question .timer { text-align: center; font-size: 10em; }
#question .players { padding: 0; }
#question .players .answered { background : blue; color: white; }

#answer .panel-body .correct { font-size: 4em; }
#answer .answers { padding: 0; color: white; }
#answer .answers .correct { background: green; }
#answer .answers .incorrect { background: red; }

#final table { font-size: 2em; }

.badges, .players {
    display: flex;
    flex-flow: row wrap;
}
.badges > *, .players > * {
    padding: 20px;
    margin: 20px;
    list-style: none;
    flex: 1 1 auto;
    text-align: center;
    font-size: 2em;
}

.panel-heading { font-size: 2em; }
.panel-body { text-align: center; }
